/* --- POPUP PRICELIST STYLE --- */

/* Latar belakang gelap (Overlay) */
.modal {
    display: flex;
    position: fixed; 
    z-index: 2000; 
    left: 0; 
    top: 0;
    width: 100%; 
    height: 100%;
    background-color: rgba(0,0,0,0.6); /* Gelap transparan */
    backdrop-filter: blur(8px); /* Efek blur */
    overflow-y: auto; /* WAJIB ADA: Agar bisa di-scroll vertikal */
}

/* Kertas Menu (Konten) */
.modal-content {
    background-color: #FAFAFA; /* Warna dari Neutral palette */
    margin: 50px auto; /* Jarak atas bawah agar enak discroll */
    padding: 60px 60px 80px 60px;
    width: 90%; 
    max-width: 700px; /* Lebar maksimal kertas */
    position: relative;
    box-shadow: 0 20px 60px rgba(0,0,0,0.3);
    text-align: center;
    border: 1px solid #D9D9D9;
    animation: slideUp 0.5s ease; /* Animasi muncul */
    display: block;
    min-height: 1150px;
}

/* Animasi Slide Naik */
@keyframes slideUp { 
    from { transform: translateY(50px); opacity: 0; } 
    to { transform: translateY(0); opacity: 1; } 
}

/* Tombol Close (X) */
.close-btn {
    position: absolute; 
    top: 20px; 
    right: 30px;
    font-size: 40px; 
    cursor: pointer; 
    color: #464C43;
    font-weight: 100;
}
.close-btn:hover { color: #2C3228; }

/* Typography Judul */
.price-header h2 { 
    font-size: 3rem; 
    margin-bottom: 10px; 
    font-style: italic; 
    font-family: 'Playfair Display', serif; 
    color: #464C43; 
}
.price-header p { 
    color: #8D8D8D; 
    font-size: 0.9rem; 
    letter-spacing: 1px; 
    text-transform: uppercase; 
    margin-bottom: 40px; 
}

/* Item Paket */
.package-item {
    margin-bottom: 40px; 
    padding-bottom: 30px;
    border-bottom: 1px solid #D9D9D9; 
    text-align: left;
}
.package-item:last-child { border-bottom: none; }

.pkg-top { 
    display: flex; 
    justify-content: space-between; 
    align-items: baseline; 
    margin-bottom: 15px; 
}
.pkg-title { 
    font-size: 1.4rem; 
    font-family: 'Playfair Display', serif; 
    color: #464C43; 
}
.pkg-price { 
    font-size: 1.2rem; 
    font-weight: bold; 
    color: #576250; 
} /* Warna dari Primary palette */
.pkg-desc { 
    font-size: 0.9rem; 
    color: #424242; 
    margin-bottom: 15px; 
}
.pkg-features li { 
    font-size: 0.85rem; 
    color: #8D8D8D; 
    margin-bottom: 5px; 
    list-style: circle inside; 
}

/* Tombol WA */
.wa-btn {
    display: block; 
    width: 100%; 
    padding: 15px;
    background-color: #464C43; 
    color: #FFFFFF;
    text-transform: uppercase; 
    letter-spacing: 2px; 
    font-size: 0.8rem;
    margin-top: 30px; 
    transition: 0.3s;
    text-decoration: none;
}
.wa-btn:hover { background-color: #576250; }
